<!DOCTYPE html>
<html>
<head>
	<title>Shubh Jhawar</title>
    {% load static %}
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/shubh_jhawar.jpeg' %}" >
					<hr>
					<h4>Hi, I'm Shubh!</h4>
					<p>I love coding and always try to learn new things.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>What am I doing right now ?</h4>
					<hr>
					<p>I am currently a final year student in SRMIST pursuing my B.Tech degree in CSE.</p>
					<p>I have a knack for data science / machine learning but recently I tried my luck with django and I love it.</p>
					<p>Right now, I am planning to build a portfolio using django so that i can showcase all my machine learning projects.</p>

					<ul class="social-links">
						<li><a href="https://www.facebook.com/shubh.jhawar/"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/shubh-jhawar-069587192/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>I recently did a backend internship centered around django and python from a company named as GalaxyWebLinks.</p>
					<p>I have made several small and big projects in my field of study till date.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, C, C++, Machine Learning, Deep Learning, Flask and OpenCV</p>
					<p>PS: I am thinking of learning React so that I can get rid of this handicap of front-end.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Initially, I try to register for an online course if there is one, or else I surf youtube for tutorials</p>

					<p>After getting a basic idea, I turn to people who have made some projects and uploaded online and try to replicate them.</p>

					<p>Then, I make my own projects and figure out the bugs using stack overflow</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
					<p>I am thinking of going for higher studies after my graduation, so right now I am preparing for the exams necessary for admission.</p>
				<p>Apart from this, I am learning new things and enhancing what I already know in the mean time, till I graduate</p>
					<p>I am also looking for internships in the meantime.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>